/* soft reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-image: url("../IMG/bg-img.png");
    backdrop-filter: opacity(50%);
    background-size: 100vw auto;
    background-position: center;
    font-family: Arial;
    height: 100vh;
  }

  /* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
    
  }
}


header {
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
  }

  .menu a {
    display: block;
    padding: 10px 30px;

  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
    box-shadow: 0.5px 0.5px 30px black;
  }
  
  .menu li {
   list-style: none; 
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle, 
  .site-title {
    color: white;
    text-align: center;
  }
  
  .site-subtitle {
   font-style: italic;
  }

  .img-portfolio {
    height: 180px;
    width: 180px;

  }